{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

    <div class="intro content">
        <div class="row d-flex align-items-start align-items-lg-center">
            <div class="animation col-lg-7 col-12 d-flex flex-column justify-content-start">
                <p class="txt" style="font-size: 22px;">Greetings<br>I'm Phi Long Lai, but you can call me Long. I'm a</p>
                <h1><span id="animatedText" style="display: inline-block;"></span></h1>
                <p style="font-size: medium;">I'm a tech enthusiast driven by a passion for problem-solving and continuous 
                    learning. With expertise in machine learning, software development, and full-stack web development, I 
                    create impactful, user-friendly applications. My work spans technologies like C#, .NET, Python, React, 
                    and cloud platforms like Azure. Always eager to explore new challenges, I combine technical precision 
                    with creative thinking to deliver meaningful solutions. Welcome to my portfolio — take a look around 
                    and see what I've been up to!</p>
                <div class="d-flex gap-3 mx-3 mb-3">
                    <a type="button" href="#about-me" class="btn btn-custom btn-outline-light">
                        <span>Learn More</span>
                    </a>
                    <a type="button" href="{% url 'projects' %}" 
                    class="btn btn-custom btn-outline-light">
                        <span>See My Projects</span>
                    </a>
                </div>
            </div>
        
            <div class="col-lg-5 col-12 d-flex justify-content-center">
                <img class="img-fluid profile-img" src="{% static 'media/self.JPG' %}" alt="{% static 'media/backup-avatar.jpg' %}">
            </div>
        </div>
    </div>

    <div id="about-me" class="about content d-flex-column align-self-center d-none d-md-block">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="text-center fst-italic fw-light">"Driven by Curiosity, Guided by Impact"</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
                <div class="text-center">
                    <p style="text-wrap: balance">My journey in tech has been a continuous evolution — from developing 
                        intuitive web applications to creating predictive machine learning models. Along the way, I've 
                        embraced every challenge as a chance to grow, teaching myself new technologies and adapting to 
                        modern development practices. With experience spanning cloud deployment, CI/CD pipelines, and 
                        agile teamwork, I've built a strong foundation that allows me to tackle projects with confidence 
                        and creativity.</p>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-7">
                <div class="text-start">
                    <p class="project-paragraph">Outside of formal roles, I've taken the initiative to build projects 
                        that challenge me to stay on the cutting edge of technology. I've developed a custom language 
                        translation app, utilizing React for an interactive front-end, Django for the back-end, and Azure 
                        for deployment. This project taught me how to integrate RESTful APIs, ensure responsive design, 
                        and deploy applications using CI/CD pipelines with GitHub Actions. I've also built and deployed 
                        my own personal website, further honing my skills in Django, Bootstrap, and modern web development 
                        best practices. These projects reflect my commitment to continuous learning and a proactive approach 
                        to staying up-to-date with industry trends.</p>
                </div>
            </div>
            <div class="col-5 text-center">
                <img class="img-fluid code-img" src="{% static 'media/code.jpg' %}" alt="Code">
            </div>
        </div>

        <div class="row my-4">
            <div class="col-5 text-center">
                <img class="img-fluid suncor-img" src="{% static 'media/suncor.jpeg' %}" alt="Suncor">
            </div>
            <div class="col-7">
                <div class="text-end">
                    <p class="suncor-paragraph">During my tenure at Suncor Energy, I had the opportunity to lead the development of a web application 
                        that monitors real-time site data and provides actionable predictions. I played a pivotal role in 
                        optimizing a decision-support system, boosting its calculation speed by 50% — a change that directly 
                        enhanced operational efficiency. My work also emphasized security, as I implemented user authentication, 
                        role-based access control, and SQL injection prevention to protect critical company data. Collaborating 
                        with a multidisciplinary team, I refined my technical and interpersonal skills, proving that I can make 
                        a tangible impact in complex, fast-paced environments.</p>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-6 text-center">
                <p class="note-paragraph">When I'm not coding, I'm being "supervised" by my cat, Sirius. He's an expert in 
                    spotting bugs (or maybe just chasing them) and has taught me the art of patience — especially when debugging.</p>
            </div>
            <div class="col-6 text-center">
                <img class="image-fluid cat-img" src="" alt="This is my cat, Sirius">
            </div>
        </div>
    </div>

    <div class="about content d-flex flex-column align-items-center align-self-center d-md-none">
        <div class="col-12 mb-5">
            <h2 class="text-center fst-italic fw-light">"Driven by Curiosity, Guided by Impact"</h2>
        </div>

        <div class="col-10 text-center">
            <p style="text-wrap: balance">My journey in tech has been a continuous evolution — from developing 
                intuitive web applications to creating predictive machine learning models. Along the way, I've 
                embraced every challenge as a chance to grow, teaching myself new technologies and adapting to 
                modern development practices. With experience spanning cloud deployment, CI/CD pipelines, and 
                agile teamwork, I've built a strong foundation that allows me to tackle projects with confidence 
                and creativity.</p>
        </div>

        <div class="col-8 text-center">
            <img class="img-fluid code-img" src="{% static 'media/code.jpg' %}" alt="Code">
        </div>

        <div class="col-10 text-center">
            <p class="project-paragraph">Outside of formal roles, I've taken the initiative to build projects 
                that challenge me to stay on the cutting edge of technology. I've developed a custom language 
                translation app, utilizing React for an interactive front-end, Django for the back-end, and Azure 
                for deployment. This project taught me how to integrate RESTful APIs, ensure responsive design, 
                and deploy applications using CI/CD pipelines with GitHub Actions. I've also built and deployed 
                my own personal website, further honing my skills in Django, Bootstrap, and modern web development 
                best practices. These projects reflect my commitment to continuous learning and a proactive approach 
                to staying up-to-date with industry trends.</p>
        </div>

        <div class="col-8 text-center">
            <img class="img-fluid suncor-img" src="{% static 'media/suncor.jpeg' %}" alt="Suncor">
        </div>

        <div class="col-10 text-center">
            <p class="suncor-paragraph">During my tenure at Suncor Energy, I had the opportunity to lead the development of a web application 
                that monitors real-time site data and provides actionable predictions. I played a pivotal role in 
                optimizing a decision-support system, boosting its calculation speed by 50% — a change that directly 
                enhanced operational efficiency. My work also emphasized security, as I implemented user authentication, 
                role-based access control, and SQL injection prevention to protect critical company data. Collaborating 
                with a multidisciplinary team, I refined my technical and interpersonal skills, proving that I can make 
                a tangible impact in complex, fast-paced environments.</p>
        </div>

        <div class="col-8 text-center">
            <img class="image-fluid cat-img" src="" alt="This is my cat, Sirius">
        </div>

        <div class="col-8 text-center">
            <p class="note-paragraph">When I'm not coding, I'm being "supervised" by my cat, Sirius. He's an expert in 
                spotting bugs (or maybe just chasing them) and has taught me the art of patience — especially when debugging.</p>
        </div>
    </div>

    <div class="experience content">
        <div class="timeline" id="timeline-container"></div>
    </div>

    <div class="skills content">
        <div class="logo-carousel">
            <div class="logo-carousel-item">
                <img src="{% static 'media/python.png' %}" alt="Python">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/C#.png' %}" alt="C#">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/java.png' %}" alt="Java">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/azure.png' %}" alt="Azure">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/css.png' %}" alt="CSS">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/html.png' %}" alt="HTML">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/JavaScript.png' %}" alt="JavaScript">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/SQL.png' %}" alt="SQL">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/tsql.png' %}" alt="T-SQL">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/react.png' %}" alt="React">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/django.png' %}" alt="Django">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/netcore.png' %}" alt=".NET Core">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/netFramework.png' %}" alt=".NET Framework">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/tensorflow.png' %}" alt="Tensorflow">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/pytorch.png' %}" alt="Pytorch">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/pandas.png' %}" alt="Pandas">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/scikitlearn.png' %}" alt="Scikit-learn">
            </div>
            <div class="logo-carousel-item">
                <img src="{% static 'media/bootstrap.png' %}" alt="Bootstrap">
            </div>
        </div>
    </div>

    <div class="outro content">
        <div class="outro-header">
            <div class="perspective-text">
                <div class="perspective-line">
                    <p></p>
                    <p>Let's</p>
                </div>
                <div class="perspective-line">
                    <p>Let's</p>
                    <p>Build</p>
                </div>
                <div class="perspective-line">
                    <p>Build</p>
                    <p>Something</p>
                </div>
                <div class="perspective-line">
                    <p>Something</p>
                    <p>Together!</p>
                </div>
                <div class="perspective-line">
                    <p>Together!</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="outro-body">
            <div class="d-flex flex-column">
                <p>I'm actively seeking full-time opportunities as a Software Developer or 
                    Machine Learning Engineer. With a passion for problem-solving, building 
                    impactful solutions, and continuous learning, I'm excited to contribute 
                    my skills to innovative projects. Let's connect and create something 
                    amazing!
                </p>
                <div class="d-flex justify-content-between w-75 mx-auto">
                    <a class="list-inline-item btn-floating" target="_blank" rel="noopener noreferrer"
                    style="font-size: 30px;" aria-label="Resume" data-bs-toggle="tooltip" 
                    data-bs-placement="left" data-bs-custom-class="custom-tooltip"
                    data-bs-title="View my resume" href="{% static 'media/philonglai-resume.pdf' %}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="list-inline-item btn-floating" style="font-size: 30px;" aria-label="Projects"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                    data-bs-title="See my projects" href="{% url 'projects' %}">
                        <i class="fa-solid fa-gears"></i>
                    </a>
                    <a class="list-inline-item btn-floating" style="font-size: 30px;" aria-label="Connect"
                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Let's connect" href="mailto:llai1@ualberta.ca">
                        <i class="fa-solid fa-handshake-angle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // static data JSON
        const timelineData = [
            {
                year: 2025,
                milestones: []
            },
            {
                year: 2024,
                milestones: [
                    {
                        date: 'July 2024',
                        name: 'Programming Instructor | Ultimate Coders',
                        brief: 'Started the position as a programming instructor at Ultimate Coders',
                        responsibilities: [
                            'Taught Java, C/C++, and Python to students of various age groups.',
                            'Provided guidance and support with coding assignments, ensuring students grasp key programming concepts.',
                            'Fostered an engaging and interactive learning environment, encouraging curiosity and creativity in programming.'
                        ],
                        skills: ['Python', 'Java', 'C/C++', 'JavaScript', 'HTML', 'CSS']
                    },
                    {
                        date: 'March 2024',
                        name: 'Machine Learning Full-stack Developer',
                        brief: 'Language Translation Web Application',
                        responsibilities: [
                            'Building a web application using Django and React for translating languages on VSCode',
                            'Constructing a Transformer model for language translation using Python and Tensorflow',
                            'Training the model, fine-tuning hyperparameters and building an inference model to optimize calculation speed',
                            'Designing a RESTful API with Django REST to handle the language translation',
                            'Implementing interactive user interface using React and React Bootstrap with Node.js',
                            'Deploying website on Azure App Services following DevOps methodologies and version control with GitHub'
                        ],
                        skills: ['Python', 'HTML', 'CSS', 'JavaScript', 'React', 'Django', 'Azure', 'Azure App Services', 
                                'DevOps', 'RestAPIs', 'Node.js', 'Tensorflow', 'Large Language Model (LLM)', 
                                'Natural Language Processing (NLP)', 'GitHub']
                    },
                    {
                        date: 'January 2024 - February 2024',
                        name: 'Full-stack Developer',
                        brief: 'Portfolio Web',
                        responsibilities: [
                            'Developed a personal website using Python with Django framework on VSCode',
                            'Designed interactive user interface with CSS and HTML with Bootstrap framework',
                            'Created animations for web components using JavaScript',
                            'Applied DevOps methodology on software deployment and practiced version control with GitHub'
                        ],
                        skills: ['Python', 'Django', 'HTML', 'CSS', 'Sass', 'JavaScript', 'GitHub']
                    }
                ]
            },
            {
                year: 2023,
                milestones: [
                    {
                        date: 'August 2023',
                        brief: 'Graduated with a BSc with Specialization in Computing Science'
                    },
                    {
                        date: 'August 2023',
                        name: 'Computer Engineering Student | Suncor',
                        brief: 'Completed my internship at Suncor',
                        responsibilities: [
                            'Developed user interactive web applications with C#, CSS, and HTML to be integrated into the enterprise systems for real-time data monitoring and prediction',
                            'Designed, maintained, and optimized data infrastructure for data collection and manipulation with stored procedures using MS SQL Server Management Studio',
                            'Automated data prediction based on a linear regression model through a .NET console API program',
                            'Optimized operation performance by remodeling a decision-support system using non-linear programming reducing calculation speed by 50%',
                            'Analyzed data using Python to search for wear patterns and data correlation in wear rate and pipe positions on Jupyter notebook',
                            'Collaborated with senior developers to assure compliance with development and business goals',
                            'Developed technical documentations as a guide for end-users and developers'
                        ],
                        skills: ['C#', 'CSS', 'HTML', '.NET Framework', '.NET Core', 'Python', 'Non-linear programming', 'Data Analysis', 'Scrum/Agile', 'Unit Testing']
                    }
                ]
            },
            {
                year: 2022,
                milestones: [
                    {
                        date: 'May 2022',
                        name: 'Computer Engineering Student | Suncor',
                        brief: 'Started my internship at Suncor',
                        responsibilities: [
                            'Developed user interactive web applications with C#, CSS, and HTML to be integrated into the enterprise systems for real-time data monitoring and prediction',
                            'Designed, maintained, and optimized data infrastructure for data collection and manipulation with stored procedures using MS SQL Server Management Studio',
                            'Automated data prediction based on a linear regression model through a .NET console API program',
                            'Optimized operation performance by remodeling a decision-support system using non-linear programming reducing calculation speed by 50%',
                            'Analyzed data using Python to search for wear patterns and data correlation in wear rate and pipe positions on Jupyter notebook',
                            'Collaborated with senior developers to assure compliance with development and business goals',
                            'Developed technical documentations as a guide for end-users and developers'
                        ],
                        skills: ['C#', 'CSS', 'HTML', '.NET Framework', '.NET Core', 'Python', 'Non-linear programming', 'Data Analysis', 'Scrum/Agile', 'Unit Testing']
                    },
                    {
                        date: 'January 2022 - April 2022',
                        name: 'Computer Vision Developer',
                        brief: 'Created a multi-object tracking algorithm - DeepSORT Tracking - using deep learning',
                        responsibilities: [
                            'Developed a multiple object tracking system using DeepSORT algorithm, integrating YOLOv4 for object detection and Kalman filter for state prediction',
                            'Utilized TensorFlow for CNN and OpenCV for video preprocessing and object tracking pipeline',
                            'Implemented video tracking and analysis, optimizing the performance of the model with high accuracy and robustness in tracking multiple objects across frames'
                        ],
                        skills: ['Python', 'MATLAB', 'Deep Learning', 'Object Detection', 'Object Tracking', 'Tensorflow', 'OpenCV']
                    }
                ]
            },
            {
                year: 2021,
                milestones: [
                    {
                        date: 'May 2021 - August 2021',
                        name: 'Machine Learning Intern | Sun* Vietnam',
                        brief: 'Completed my summer internship at Sun* Vietnam as a Machine Learning intern',
                        responsibilities: [
                            'Constructed a RepVGG+Attention LSTM pipeline for an optical character recognition (OCR) problem using Python on Tensorflow and Pytorch frameworks',
                            'Improved model performance with data augmentation and fine-tuning on generated dataset',
                            'Built a demo model of face recognition for edge devices (tested on Jetson Nano)'
                        ],
                        skills: ['Python', 'Tensorflow', 'Pytorch', 'Long Short-Term Memory (LSTM)', 'OCR', 'Documentation Skills']
                    },
                    {
                        date: 'January 2021 - April 2021',
                        name: 'Machine Learning Developer',
                        brief: 'ASL Translation Tool with Deep Learning',
                        responsibilities: [
                            'Worked as a team to build VGG19 model for ASL to alphabet character translation using Tensorflow and Keras',
                            'Enhanced performance of pre-trained models through hyperparameter tuning',
                            'Performed integrated gradient descent on data images to interpret the model',
                            'Documented a performance report and presented a demo to other teams'
                        ],
                        skills: ['Python', 'Tensorflow', 'Keras', 'Convolutional Neural Network (CNN)', 'Documentation Skills']
                    }
                ]
            },
            {
                year: 2020,
                milestones: [
                    {
                        date: 'October 2020 - December 2020',
                        name: 'Mobile Developer',
                        brief: 'BookIt Mobile Application',
                        responsibilities: [
                            'Developed a mobile application for borrowing books using Java on Android Studio with Firebase',
                            'Learned about software development life cycle and practiced Scrum & Agile methodologies',
                            'Designed software architecture and visualized the system through UML diagrams',
                            'Implemented unit testing to ensure the performance and reliability of the program'
                        ],
                        skills: ['Java', 'Android', 'Scrum/Agile', 'Firebase', 'Unit Testing', 'UML']
                    }
                ]
            }
        ];
        
        // function for rendering the timeline
        function renderTimeline() {
            const container = document.getElementById('timeline-container');
            let isLeft = true;

            timelineData.forEach(yearData => {
                yearData.milestones.forEach((milestone, index) => {
                    const msNode = document.createElement('div');
                    msNode.classList.add('milestone', isLeft? 'left' : 'right');
                    isLeft = !isLeft;

                    const milestoneHeader = document.createElement('h4');
                    milestoneHeader.classList.add('milestone-header');
                    milestoneHeader.innerText = milestone.date;
                    
                    const brief = document.createElement('div');
                    brief.classList.add('milestone-brief');
                    brief.innerText = milestone.brief;

                    msNode.appendChild(milestoneHeader);
                    msNode.appendChild(brief);
                    
                    if ('name' in milestone) {
                    const modalId = `modal-${yearData.year}-${index}`;
                    const modalLabel = `modalLabel-${yearData.year}-${index}`;

                    const button = document.createElement('button');
                    button.setAttribute('type', 'button');
                    button.classList.add('btn', 'btn-sm', 'btn-custom', 'btn-outline-light');
                    button.setAttribute('data-bs-toggle', 'modal');
                    button.setAttribute('data-bs-target', `#${modalId}`);
                    button.textContent = 'See more';

                    const modal = document.createElement('div');
                    modal.classList.add('modal', 'fade');
                    modal.setAttribute('id', modalId);
                    modal.setAttribute('tabindex', '-1');
                    modal.setAttribute('aria-labelledby', modalLabel);
                    modal.setAttribute('aria-hidden', 'true');

                    const modalDialog = document.createElement('div');
                    modalDialog.classList.add('modal-dialog', 'modal-lg', 'modal-dialog-centered', 'modal-dialog-scrollable');

                    const modalContent = document.createElement('div');
                    modalContent.classList.add('modal-content'); 

                    const modalHeader = document.createElement('div');
                    modalHeader.classList.add('modal-header');
                    modalHeader.setAttribute('data-bs-theme', 'dark');

                    const modalTitle = document.createElement('h1');
                    modalTitle.classList.add('modal-title', 'fs-5');
                    modalTitle.setAttribute('id', modalLabel);
                    modalTitle.textContent = milestone.name;

                    const closeBtn = document.createElement('button');
                    closeBtn.setAttribute('type', 'button');
                    closeBtn.classList.add('btn-close');
                    closeBtn.setAttribute('data-bs-dismiss', 'modal');
                    closeBtn.setAttribute('aria-label', 'Close');
                    
                    modalHeader.appendChild(modalTitle);
                    modalHeader.appendChild(closeBtn);

                    const modalBody = document.createElement('div');
                    modalBody.classList.add('modal-body');

                    if (milestone.responsibilities) {
                        const responsibilitiesTitle = document.createElement('h5');
                        responsibilitiesTitle.innerText = 'Responsibilities: ';

                        const responsibilitiesList = document.createElement('ul');
                        milestone.responsibilities.forEach(responsibility => {
                            const item = document.createElement('li');
                            item.innerText = responsibility;
                            responsibilitiesList.appendChild(item);
                        });

                        modalBody.appendChild(responsibilitiesTitle);
                        modalBody.appendChild(responsibilitiesList);
                    }

                    if (milestone.skills) {
                        const skillsTitle = document.createElement('h5');
                        skillsTitle.innerText = 'Skills: ';

                        const skillsList = document.createElement('p');
                        skillsList.innerText = milestone.skills.join(', ');
                        
                        modalBody.appendChild(skillsTitle);
                        modalBody.appendChild(skillsList);
                    }

                    modalContent.appendChild(modalHeader);
                    modalContent.appendChild(modalBody);
                    modalDialog.appendChild(modalContent);
                    modal.appendChild(modalDialog)

                    msNode.appendChild(button);
                    msNode.appendChild(modal);
                    }

                    container.appendChild(msNode);

                });
                
                const yearNode = document.createElement('h2');
                yearNode.classList.add('year');
                yearNode.innerText = yearData.year;
                container.appendChild(yearNode);
                
            });
        }

        // render timeline on page load
        document.addEventListener('DOMContentLoaded', renderTimeline);

        // duplicate .logo-carousel-item for smooth transition when screen <= 480px
        document.addEventListener('DOMContentLoaded', function() {
            const carousel = document.querySelector('.logo-carousel');
            const items = document.querySelectorAll('.logo-carousel-item');

            function duplicateItems() {
                if (window.innerWidth <= 700) {
                    if (carousel.children.length == items.length) {
                        items.forEach(item => {
                            const clone = item.cloneNode(true);
                            clone.classList.add('duplicate');
                            carousel.appendChild(clone);
                        });
                    }
                } else {
                    const duplicates = carousel.querySelectorAll('.duplicate');
                    duplicates.forEach(duplicate => duplicate.remove());
                }
            }

            duplicateItems();

            window.addEventListener('resize', duplicateItems);
        });
    </script>
{% endblock content %}